
<div class="top">
    <div class="indexTopWrapper">
        <div class="container">
            <div class="formContainer">
            <h1>Potepan Shareでまだ体験したことのない旅をしよう</h1>
            <p>エリア</p>
            <p>ここに検索フォームを後ほど実装</p>
            </div>
        </div>
    </div>
</div>
<div class="middle">
    <div class=recomendContainer>
        <h1>おすすめエリア</h1>
        <ul class="area-imgs">
            <%= link_to rooms_path(@rooms = Room.where('address LIKE ?', "%#{params["東京"]}%")) do %> 
            <li><span>東京</span><a class="indexTokyo recomendLink"><img class="areaImg" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg"></a></li>
            <% end %>
            <%= link_to rooms_path,(search["東京"]), method: :get do %>
            <li><span>大阪</span><a class="indexOsaka recomendLink"><img class="areaImg" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg"></a></li>
            <% end %>
            <li><span>京都</span><a class="indexKyoto recomendLink"><img class="areaImg" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg"></a></li>
            <li><span>札幌</span><a class="indexSapporo recomendLink"><img class="areaImg" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg"></a></li>
        </ul>
        
    </div>
</div>

