
<div class="top">
    <div class="indexTopWrapper">
        <div>
            <h1>Potepan Shareでまだ体験したことのない旅をしよう</h1>
            
            <p>ここに検索フォームを後ほど実装</p>
           
        </div>
    </div>
</div>
