// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-title{
    margin:20px 0;
    font-weight:bold;
}
.user-main{
    margin:0 200px 0 200px;
}